h1{
	color:red !important;
	text-align: center;
    font-size: 100px !important;
	text-shadow: 0px 2px 2px rgba(0,0,0,.9)
    border-top:10px !important;
    background: orange !important;
}

h2{	color: #000000 !important;text-align: center !important;background: orange !important;}

h5{ color: #000000 !important;text-align: center !important;}
h6{ color: #000000 !important;text-align: center !important;}

a{	text-decoration: none!important;color: #0000FF !important;}

/*
footer{
	padding-top: 100px  !important;
	padding-bottom: 35px !important;
	background: orange;
    text-align: center !important;
}*/

body,
 {
    background: orange !important;

/*

saccar del bostrap esto si o si
background-color: #fff !important;
*/

    
}


address{
        background: orange !important;
}

head{
        background: orange !important;
}

}
footer{ margin-top:50;
        width: 100%;
        height: 200px;
        padding: 30px;
        background: black;
        font-family: 'Black Han Sans', sans-serif;
        font-size:18px;
        }

html{background: orange!important;}

div div h2 {
    padding-top: 100px  !important;
    padding-bottom:100px !important;
    }


    a {
    text-align: center !important;
    }

/*     ID´S     */
#quinto_item{list-style: none !important;} /*PRIMERA LINEA DEL FOOTER*/
#sexto_item{list-style: none !important;} /*SEGUNDA LINEA DEL FOOTER*/
#septimo_item{list-style: none !important;} /*TERCER LINEA DEL FOOTER*/
#octavo_item{list-style: none !important;}  /*CUARTA LINEA DEL FOOTER*/
#noveno_item{list-style: none !important;} /*QUINTA LINEA DEL FOOTER*/
#desimo_item{list-style: none !important;}  /*SACA LOS ASTERISCOS A REDES SOCIALES DE COMIT*/
#desimoprimero_item{list-style: none !important;}        /*SACA LOS AASTERIOSCOS DE TELECOM LOGO*/
#desimosegundo_item{list-style: none !important;} /*SEPTIMA LINEA DEL FOOTER*/
#desimotercero_item{list-style: none !important;} /*SACA LOS ASTERISCOS A LAS REDES SOCIALES DE TELECOM*/


/*      CLASS   */
.logo_institucional{/*width: 70px;*/    height: 30px;}
.logo_comit{ width: 100px !important; height: 100px !important;padding-right:20px !important;padding-left: 20px !important; }
.logo_facebook{width: 30px !important; height: 30px !important;padding-left: 5px !important;padding-right:5px !important;}
.logo_instagram{width: 30px !important; height: 30px !important;padding-left: 5px !important;padding-right:5px !important;}
.logo_twitter{width: 30px !important; height: 30px !important;padding-left: 5px !important;padding-right:5px !important;}
.logo_youtube{width: 30px !important; height: 30px !important;padding-left: 5px !important;padding-right:5px !important;}
.logo_linkedin{width: 30px !important; height: 30px !important; padding-left: 5px !important;padding-right:5px !important;}
.logo_telecom{width: 100px !important; height: 100px !important; clear: both !important; padding-top: 10px !important;}

.b2p{

    }

.subtitulos{
    color:green !important;
    /*border: 1px solid !important;*/
    /*border-radius: 7px !important;*/
    padding-top:  20px !important;
    margin-top: 20px !important;
    }

.data_1f{
color:#000000!important;
/*color:#333333*/;
}
.data_2f{
color:#000000!important;
/*color:#333333*/;
text-align: left!important;
}
.data_3f{
color:#000000!important;
/*color:#333333*/;
}
.data_4f{
color:#000000!important;
/*color:#333333*/;
}
.data_5f{
color:#000000!important;
/*color:#333333*/;
}
.data_6f{
color:#000000!important;
/*color:#333333*/;
}
.data_7f{
color:#000000!important;
/*color:#333333*/;
border: 1px green solid !important;
border-radius: 10px !important;
}
.data_8f{
color:#000000!important;
/*color:#333333*/;
}
.data_9f{
color:#000000!important;
/*color:#333333*/;
clear: both !important;
}
.data_10f{
color:#000000!important;
/*color:#333333*/;
}
.data_f10 a:hover{
text-decoration: none!important;
color: #0000FF!important;
}
.data_11f{
color:#000000!important;
/*color:#333333*/;
}
.data_12f{
color:#000000!important;
/*color:#333333*/;
clear: both !important;
clear:both !important;
/*float: left !important;*/
}
.data_13f{
color:#000000!important;
/*color:#333333*/;
}
.data_14f{
color:#000000!important;
/*color:#333333*/;
}

.data_f8 li a img{clear: both !important;}
.data_f9 li a img{clear: both !important;}
.data_f10 li a img{float: left !important;}
.data_f12 li a img{clear: both !important; }
.data_f13 li a img{clear: both !important; }


.data_f12 img{
padding-left:20px !important;
display:block !important;
/*float: left !important;
display:block !important;
margin:auto!important;*/
}

.data_f14 li a img{float: left !important;}


.data_f13 a{
text-decoration: none !important;
color: #0000FF!important;
}
.data_f14 a{
text-decoration: none !important;
color: #0000FF!important;
}



.navbar-inner{
    /*height: 90px*/
    min-height: 15px;
    }
.navbar .brand{
    padding: 0 10px;
}
.navbar .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
}
.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top:15px;
}
.brand img{
    margin-top: 5px
}
@media (max-width:768px) {
    .brand img{
        margin-bottom: 5px
    }
    .navbar .btn-navbar{
        /*margin-right: -15px;*/
    }
    .navbar .nav > li > a {
        padding: 10px 15px;
    }